/*input*/
#Softwarenaam{
	margin-left: 10%;
	width: 80%;
	margin-top: 150px;
}
#Versie{
	margin-left: 10%;
	width: 80%;
}

#Buy{
	position: absolute;
	font-size: 35px;
	text-transform: capitalize;
	height: 75px;
	right: 10%;
	border-radius: 10px;
	opacity: 1;
}
/*input*/
#username{
	margin-left: 10%;
	width: 80%;
	margin-top: 150px;
}
#password{
	margin-left: 10%;
	width: 80%;
}
#e-mail{
	margin-left: 10%;
	width: 80%;
}
#Sign-up{
	position: absolute;
	font-size: 35px;
	text-transform: capitalize;
	height: 75px;
	right: 10%;
	border-radius: 10px;
	opacity: 1;
}
.alert {
  position: absolute;
  width: 100%;
  top: 5%;
  padding: 15px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}