/*input*/
#Rekening-nummer{
	margin-left: 10%;
	width: 80%;
	margin-top: 150px;
}
#Passnummer{
	margin-left: 10%;
	width: 80%;
}
#Bank{
	margin-left: 10%;
	width: 80%;
}
#Buy{
	position: absolute;
	font-size: 35px;
	text-transform: capitalize;
	height: 75px;
	right: 10%;
	border-radius: 10px;
	opacity: 1;
}