/*form box*/
#form{
	background-color: white;	
	width: 30%;
	height: 60%;
	position: absolute;
	top: 20%;
	left: 35%;
	opacity: 0.9;
}
/*input*/
#username{
	margin-left: 10%;
	width: 80%;
	margin-top: 150px;
}
#password{
	margin-left: 10%;
	width: 80%;
}
/*sign up button*/
.not-a-user{
	margin-left: 10%;
	font-size: 35px;
	color: #707070;
}
.Sign-up{
	font-size: 35px;
	color: #1A9988;
	text-decoration: underline;
}
#login{
	font-size: 35px;
	text-transform: capitalize;
	height: 75px;
	width: 120%;
	right: 20%;
	border-radius: 10px;
}
@media only screen and (max-width: 600px) {
	#form{
		background-color: white;	
		width: 80%;
		height: 60%;
		position: absolute;
		top: 20%;
		left: 10%;
	}
	#login{
		font-size: 20px;
		text-transform: capitalize;
		height: 50px;
		width: 120%;
		right: 20%;
		border-radius: 10px;
	}
	h1{
		font-size: 20px;
	}
	#username{
		margin-top: 100px;
	}
	.not-a-user{
		font-size: 20px;
	}
	.Sign-up{
		font-size: 20px;
	}
}