.input-group{
  float: right;
}
.login_body{
  background: url("../img/Login.jpg") no-repeat fixed center;
}
/*Nav*/
body{
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1A9988;
}
.active{
  color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}
.right{
  float: right;
}

/*Logo*/
h1{
  position: absolute;
  font-size: 35px;
  margin-top: 50px;
}
.update{
  color: #707070;
  display: inline;
  margin-left: 5%;
}
.tracker{
  color: #1A9988;
  display: inline;
}
.link{
  color: #1a9988;
}
.link:hover{
  color:  #0f7567;
}

.Software{
  width: 80%;
  right: 10%;
  top: 20%;
  position: absolute;
}
#project_table{
  width: 80%;
  right: 10%;
  top: 40%;
  position: absolute;
}
tr:nth-child(even){
  background-color: #DCDCDC;
}

.buy{
  /*position: relative;*/
  display: block;
  right: 100px;
  margin-top: 45.373rem;
  margin-right: 10%;
  font-size: 24px;
}
#buy{
  font-size: 24px;
  border-radius: 10px;
  text-transform: capitalize;
  height: 50px;
  width: 20%;
}
.userinfo{
  margin-top: 150px;
  font-size: 24px;
}
.userinfo1{
  font-size: 24px;
}
/*input*/
#Softwarename{
  margin-left: 10%;
  width: 80%;
  margin-top: 100px;
}
#Versie{
  margin-left: 10%;
  width: 80%;
}

#Button{
  position: absolute;
  font-size: 35px;
  text-transform: capitalize;
  height: 75px;
  right: 10%;
  border-radius: 10px;
  opacity: 1;
}
/*input*/
#username{
  margin-left: 10%;
  width: 80%;
  margin-top: 150px;
}
#password{
  margin-left: 10%;
  width: 80%;
}
#e-mail{
  margin-left: 10%;
  width: 80%;
}
#Sign-up{
  position: absolute;
  font-size: 35px;
  text-transform: capitalize;
  height: 75px;
  right: 10%;
  border-radius: 10px;
  opacity: 1;
}
.alert {
  position: absolute;
  width: 100%;
  top: 5%;
  padding: 15px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/*form box*/
#form{
  background-color: white;  
  width: 30%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 35%;
  opacity: 0.9;
}
/*sign up button*/
.not-a-user{
  margin-left: 10%;
  font-size: 35px;
  color: #707070;
}
.Sign-up{
  font-size: 35px;
  color: #1A9988;
  text-decoration: underline;
}
#login{
  font-size: 35px;
  text-transform: capitalize;
  height: 75px;
  width: 120%;
  right: 20%;
  border-radius: 10px;
}
/*sign up button*/
.not-a-user{
  margin-left: 10%;
  font-size: 35px;
  color: #707070;
}
.Sign-up{
  font-size: 35px;
  color: #1A9988;
  text-decoration: underline;
}
#Sign-up{
  font-size: 35px;
  text-transform: capitalize;
  height: 75px;
  width: 120%;
  right: 20%;
  border-radius: 10px;
  opacity: 1;
}
/*form box*/
#form{
  background-color: white;  
  width: 30%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 35%;
  opacity: 0.9;
}
@media only screen and (max-width: 600px) {
  ul{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    padding:0px  20px 0px 20px;
  }
  /*Logo*/
  .update{
    font-size: 25px;
    margin-left: 0%;
    margin-top: 0px;
    position: absolute;
    top: 0px;
  }
  .tracker{
    font-size: 25px;
  } 
  .Software{
    width: 100%;
    right: 0%;
    top: 10%;
    position: absolute;
  } 
  #Softwarename{
    margin-left: 0%;
    width: 100%;
    margin-top: 10px;
  }
  #Versie{
    margin-left: 0%;
    width: 100%;
  }
  #Button{
    font-size:25px;
    height: 50px;
    position: absolute;
    bottom: 0%;
  }
  #form{
    background-color: white;  
    width: 80%;
    height: 65%;
    position: absolute;
    top: 20%;
    left: 10%;
  }
  #add-edit{
    background-color: white;  
    width: 80%;
    height: auto;
    position: absolute;
    top: 15%;
    left: 10%;
  }
  #login{
    font-size: 25px;
    text-transform: capitalize;
    height: 50px;
    width: 40%;
    position: absolute;
    bottom: 20px;
    right: 10%;
    border-radius: 10px;
  }
  h1{
    font-size: 20px;
  }
  #username{
    margin-top: 65px;
  }
  .not-a-user{
    font-size: 20px;
  }
  .Sign-up{
    font-size: 20px;
  }
  #password{
    margin-top: 0;
  }
  #e-mail{
    margin-top: 0;
  }
  .userinfo{
    margin-top: 50px;
    font-size: 24px;
    margin-left: 5%;
  }
  .userinfo1{
    font-size: 24px;
    margin-left: 5%;
  }
  #project_table{ 
    width: 100%;
    right: 0%;
    top: 5%;
  }
  .th{
    display: none;  
  }
  .buy{
    display: block;
    position: absolute;
    bottom: 10%;  
    margin-right: 0%;
    font-size: 14px;
    width: 100%;
    right: 0%;
  }
  #buy{
    width: 15%;
    font-size: 14px;
    height: 40px;
  }
}