.Software{
	width: 80%;
	right: 10%;
	top: 40%;
	position: absolute;
}
tr:nth-child(even){
	background-color: #DCDCDC;
}
.userinfo{
	margin-top: 150px;
	font-size: 24px;
	margin-left: 5%;
}
.userinfo1{
	font-size: 24px;
	margin-left: 5%;
}
